<a href="https://colab.research.google.com/github/leegihyeok0907/NLP_2023/blob/main/2_Five_Types_of_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
a

1

In [ ]:
a = 1
print(a)

1

In [ ]:
c = 3
c

3

In [ ]:
b = 2
print(b)

2

In [ ]:
print(a + b)

3

In [ ]:
c = "I love python"

print(c)

I love python

In [ ]:
a = 'Lori'
_b = 'Sam'
a_b = 'Ken'
c_d = 'Jen'

a = 'Emma'

In [ ]:
a = 'Lori'
print(a)

_b = 'Sam'
print(_b)

a_b = 'Ken'
print(a_b)

c_d = 'Jen'
print(c_d)

a= 'Emma'
print(a)

Lori
Sam
Ken
Jen
Emma

In [ ]:
d = {"Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"}
e = {"수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성"}
f = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

print(d)
print(e)
print(f)

{'Jupiter', 'Neptune', 'Uranus', 'Mercury', 'Mars', 'Saturn', 'Venus', 'Earth'}
{'금성', '지구', '혜왕성', '토성', '목성', '천황성', '화성', '수성'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
g = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
h = ("수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성" )
i = (1, 2, 3, 4, 5, 6, 7, 8)

print(g)
print(h)
print(i)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성')
(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
dict(d = {"Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"})
print(d)

{'Jupiter', 'Neptune', 'Uranus', 'Mercury', 'Mars', 'Saturn', 'Venus', 'Earth'}

In [ ]:
k = {'Mercury':'수성', 'Venus':'금성', 'Earth':'지구', 'Mars':'화성', 'Jupiter':'목성', 'Saturn':'토성', 'Uranus':'명왕성', 'Neptune':'해왕성'} #key in English: value in Korean
m = {'Mercury 수성':1, 'Venus 금성':2, 'Earth 지구':3, 'Mars 화성':4, 'Jupiter 목성':5, 'Saturn 토성':6, 'Uranus 명왕성':7, 'Neptune 해왕성':8} # i) order of planets from the Sun, ii) key in English and Korean, iii) value in integers

print(k)
print(m)

{'Mercury': '수성', 'Venus': '금성', 'Earth': '지구', 'Mars': '화성', 'Jupiter': '목성', 'Saturn': '토성', 'Uranus': '명왕성', 'Neptune': '해왕성'}
{'Mercury 수성': 1, 'Venus 금성': 2, 'Earth 지구': 3, 'Mars 화성': 4, 'Jupiter 목성': 5, 'Saturn 토성': 6, 'Uranus 명왕성': 7, 'Neptune 해왕성': 8}

In [ ]:
v = {"Mercury":"수성", "Venus":"금성", "Earth":"지구", "Mars":"화성", "Jupiter":"목성", "Saturn":"토성", "Uranus":"해왕성", "Neptune":"명왕성"}
print(v)

{'Mercury': '수성', 'Venus': '금성', 'Earth': '지구', 'Mars': '화성', 'Jupiter': '목성', 'Saturn': '토성', 'Uranus': '해왕성', 'Neptune': '명왕성'}

In [ ]:
dict = {'a':1, 'b':2, 'c':3}
print(dict)
print(dict['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [ ]:
dict = {'a':1, 'b':2, 'c':3}
print(dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
dict['a']=7
print (dict)

{'a': 7, 'b': 2, 'c': 3}

In [ ]:
dict_data = {'c':10, 'b':20, 'a':30}
print(dict_data)
dict_data['a'] = 300
print(dict_data)

{'c': 10, 'b': 20, 'a': 30}
{'c': 10, 'b': 20, 'a': 300}

In [ ]:
dict['c'] = 7
print(dict)

{'a': 7, 'b': 2, 'c': 7}

In [ ]:
print(k['Mercury'])

수성