<a href="https://colab.research.google.com/github/leegihyeok0907/NLP_2023/blob/main/3_Indexing_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str_data = "I Love Python!"
forward_data = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)
backward_data = (-14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1)

In [ ]:
print(str_data)
print(forward_data[1:5])
print(forward_data[:5])
print(forward_data[5:])
print(forward_data[:-3], backward_data[:-3])
print(backward_data[-3:])
print(forward_data[::2])

I Love Python!
(1, 2, 3, 4)
(0, 1, 2, 3, 4)
(5, 6, 7, 8, 9, 10, 11, 12, 13)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10) (-14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4)
(-3, -2, -1)
(0, 2, 4, 6, 8, 10, 12)

In [ ]:
str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print (list_data)
print(tuple_data)

I love python
['apple', 'banana', 'grapes', 'mango']
('apple', 'banana', 'grapes', 'mango')

In [ ]:
strdata = 'Time is money!!'
print(strdata[5])
print(strdata[-2])
print(strdata[0])

i
!
T

In [ ]:
listdata = [1, 2, [1,2,3]]
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

1
[1, 2, 3]
3

In [ ]:
list_data = ['apple', 'banana', 'grapes', 'mango']
list_data[0]="shine musket"
print(list_data)

['shine musket', 'banana', 'grapes', 'mango']

In [ ]:
print(tuple_data)

('apple', 'banana', 'grapes', 'mango')

In [ ]:
str_data = 'Time is money!!'
print(str_data[1:5])
print(str_data[:7])
print(str_data[9:])
print(str_data[:-3])
print(str_data[-3:])
print(str_data[:])
print(str_data[::2])

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tm smny!