<a href="https://colab.research.google.com/github/leegihyeok0907/NLP_2023/blob/main/4.2_ForStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
scope = [1, 2, 3, 4, 5]

for x in scope:
  print(x)

1
2
3
4
5

In [ ]:
scope = [1, 2, 3, 4, 5]

for y in scope:
  print(y)

1
2
3
4
5

In [ ]:
name = ['Sam', 'Emily', 'Todd']

for i in name:
  print(i)

Sam
Emily
Todd

In [ ]:
for i in range(1):
  print(i)

type(i)

0

int

In [ ]:
for x in range(3):
  print(x)

type(x)

0
1
2

int

In [ ]:
for y in range(10):
  print(y)

type(y)

0
1
2
3
4
5
6
7
8
9

int

In [ ]:
list_fruit = ["apple", "banana", "grape", "strawberry", "pear", "mango"]

for i in list_fruit:
  print(i)

apple
banana
grape
strawberry
pear
mango

In [ ]:
string ='abcdefghijklmnopqrstuvwxyz'

for c in string:
  print(c)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
dict1 = {'a':97, 'b':98, 'c':99}

for i in dict1:
  print(i)

a
b
c

In [ ]:
dict2 = {'a':100, 'b':200, 'c':300}

for i in dict2:
  print(i)

a
b
c

In [ ]:
print(dict2['a'])
print(['a'])

100
['a']

In [ ]:
for c in range(10):
  print(c)

0
1
2
3
4
5
6
7
8
9

In [ ]:
scope=[1, 2, 3, 4, 5]

for i in scope:
  print(i)
  if i<3:
    continue
  else:
    break

1
2
3

In [ ]:
for x in scope:
  print(x)
else:
  print('Perfect')

1
2
3
4
5
Perfect

In [ ]:
for i in range(27):
  print(i)
else:
  print("perfect")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
perfect